---
import SubHeader from "./SubHeader.astro";
import Grid from "./Grid.astro";
import PortfolioPreview from "./ProjectPreview.astro";

import { projects } from "./ProjectPaths";
---
<section class="section" id="project">
    <SubHeader 
        header="My Projects" 
        description="Uncover the stories behind my projects, where programming expertise meets creative vision to bring ideas to life.">
    </SubHeader>

    <div class="gallery">
        <Grid>
            {projects.map(project => (
                <PortfolioPreview 
                    title={project.title}
                    description={project.description}
                    image={project.image}
                    code={project.code}
                    site={project.site}
                    techStack={project.techStack}
                />
            ))}
        </Grid>
    </div>
</section>

<style>
    .section {
        display: grid;
		grid-template-areas: 'header' 'gallery';
		gap: 2rem;
	}

    @media (min-width: 50em) {
		.section {
			gap: 5rem;
		}
	}
</style>